@model IEnumerable<Product>

<div class="row pb-3" style="text-align: center">
    @foreach(var product in Model)
    {
        <div class="bg-white col-auto m-2" style="text-align: left">
            <div class="row">
                <div class="col p-0">
                    <img src="@product.ImageURL" class="img-fluid p-0" style="max-height: 450px">
                    <div class="ps-2">
                        <h4 class="card-title">@product.Title</h4>
                        <p>Price: @product.Price.ToString("c")</p>
                        <p>By: @product.Author</p>
                    </div>
                    <div>
                        <a asp-action="Details" class="btn btn-primary form-control" asp-route-productId="@product.Id">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>